.pessoa-imagem {
    background-size: cover;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    background-position: center;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.pessoa-imagem-roberta {
    background-image: url('../img/pessoas/roberta.jpg');
}

.pessoa-imagem-marcela {
    background-image: url('../img/pessoas/marcela.jpg');
}

.pessoa-imagem-andreia {
    background-image: url('../img/pessoas/andreia.jpg');
}